.modulos-container{
    width: 500px;
    height: fit-content;
    top:91px;
    left:235px;
    border-radius: 12px;
    padding: 8px 20px 8px 20px;
    gap: 8px;
    background: #262626;

}

.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 1rem 1.25rem;
    /* border: 1px solid #3f4b5b; */
        color: rgba(255, 255, 255, 0.87);
    /* background: #2a323d; */
    font-weight: 600;
    border-radius: 4px;
    transition: box-shadow 0.15s;
}


.btn-color{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: none;
    background-color:rgb(118, 63, 190);
    border-radius: 8px;
}

.p-dropdown-trigger {
    background: #4b4848;
    color: rgba(255, 255, 255, 0.6);
    width: 2.357rem;
    border-radius: 0px 10px 10px 0px;
}

.p-dropdown {
    background: #232020;
    transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    border-radius: 10px;
    border: none;
}